/*
Author: Matt Pahuta
https://www.mattpahuta.com
Date: January 2024
*/
:root {
  /* Primary Colors */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-blue: hsl(245, 75%, 52%);
  --clr-pale-violet: hsl(245, 83%, 68%);
  /* Neutral Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-soft-white: hsl(225, 100%, 98%);
  --clr-blue-gray: hsl(224, 23%, 55%);
  /* Box Shadows */
  --box-shadow-card: 0 40px 40px -20px hsla(228, 87%, 40%, 0.15);
  --box-shadow-btn: 0 20px 20px 0 hsla(245, 75%, 52%, 0.19);
  --box-shadow-btn-cancel: 0 0 0 4px hsla(245, 75%, 52%, 0.6);
  /* Font Family */
  --ff-primary: 'Red Hat Display', sans-serif;
  /* Font Weights */
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 900;
  /* Font Sizes */
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.375rem;
  /* Border radius */
  --border-radius: 20px;
  --border-radius_soft: 11px;
}

@media (min-width: 48rem) {
  :root {
    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-500: 1.75rem;
  }
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* Base Styles */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  line-height: 1.6;
  background-image: url(./images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-pale-blue);
  color: var(--clr-blue-gray);
}

.main {
  height: 100vh;
  padding: 0 1.5rem;
  display: grid;
  place-items: center;
}

h1, h2 {
  font-weight: var(--fw-black);
  color: var(--clr-dark-blue);
}

@media (min-width: 48rem) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
  }
}

/* Component Styles */
button.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  min-width: 10ch;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  font-weight: var(--fw-black);
  line-height: normal;
  border-radius: var(--border-radius_soft);
  transition: 220ms all ease-in-out;
}

@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentcolor;
  }
}

button.button-pay {
  padding: 15px;  
  background-color: var(--clr-blue);
  color: var(--clr-white);
  box-shadow: var(--box-shadow-btn);
}

.button.button-pay:hover,
.button.button-pay:focus-visible {
  background-color: var(--clr-pale-violet);
}

.button.button-cancel {
  padding: 0 0.75em; 
  align-self: center;
  color: var(--clr-blue-gray);
}

.button.button-cancel:hover,
.button.button-cancel:focus-visible {
  color: var(--clr-dark-blue);
  outline: none;
}

.button.button-cancel:focus-visible {
  box-shadow: var(--box-shadow-btn-cancel);
}

.card {
  margin-inline: auto;
  max-width: 450px;
  background: var(--clr-white);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-align: center;
  box-shadow: var(--box-shadow-card);
}

.card-content {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-title {
  font-size: var(--fs-500);
  line-height: 1.05;
}

.card-text {
  max-width: 36ch;
  align-self: center;
}

.card-plan-wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: var(--clr-soft-white);
  border-radius: var(--border-radius_soft);
}

@media (min-width: 48rem) {
  .card-content {
    padding: 3rem;
  }
  .card-plan-wrapper {
    padding: 1.5rem;
  }
}

.plan-select-wrapper {
  margin-left: 20px;
}

.plan-select-wrapper h2,
.plan-select-wrapper p {
  font-size: var(--fs-300);
}

.card-plan-wrapper a {
  margin-left: auto;
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--clr-blue);
  transition: 220ms all ease-in-out;
}

.card-plan-wrapper a:hover,
.card-plan-wrapper a:focus-visible {
  text-decoration: none;
  color: var(--clr-pale-violet)
}

.card-plan-wrapper a:focus-visible {
  outline: none;
  box-shadow: var(--box-shadow-btn-cancel);
  border-radius: var(--border-radius_soft);
  padding: 0 .25em;
}